@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
<<<<<<< HEAD
  --color: #3c3163;
=======
  --color: #cf618d;
>>>>>>> d04674fc6f47aec3af6f14d961295ea2acd68b10
  --transition-time: 0.7s;
}

* {
  box-sizing: border-box;
}

#Interested {
	margin: 0px;
    font-family: 'Open Sans';
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 1rem;
  width: max-content;
 
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
<<<<<<< HEAD
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
=======
  background-image: linear-gradient(rgba(222, 148, 103),rgba(188, 143, 143, 0.922) );
>>>>>>> d04674fc6f47aec3af6f14d961295ea2acd68b10
  height: 29vh;
  width: 42vw;
  font-size: 1em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 2px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
<<<<<<< HEAD
  background: rgba(255,255,255,0.5);
=======
  background: rgba(9, 23, 62, 0.701);
>>>>>>> d04674fc6f47aec3af6f14d961295ea2acd68b10
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
<<<<<<< HEAD
  background: #3c3163;
=======
  background: rgba(71, 113, 111, 0.909);
>>>>>>> d04674fc6f47aec3af6f14d961295ea2acd68b10
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 1em;
  margin-bottom: 0.2rem;
  margin-left: 0.1rem;
  color:beige;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}
 
.info h1 {
  font-size: 1.5em;
  font-weight: normal;
  color: antiquewhite;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .card{
    width: 40vw;
  } 

  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
    color: azure;
  }
}



@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}