/*general rules*/

h3, h2, h5, h1{
	text-align: center
}

.name{
	color: rgb(209, 158, 125);
}

#greeting-container {
	margin-top: 1%;
	font-size: large;
  }
  
  .main_part{
	text-align: center;
  }
  
  #darker{
	  color: grey;
	  padding :2%;
  }
  
   button{
	background-color: rgba(137, 43, 226, 0.43);
	padding: 1%;
	border: 1px solid rgba(137, 43, 226, 0.43);
	margin-top: 1%;
  }
  
  

/*intro*/
.intro h2, p{
	color: white;
	text-align: center;
}
.intro {
	padding-top: 1%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
}
/*hero image*/
.hero-image {
	background-image: url(../img/Dream/new.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
  }
.profile{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;
}
.profile img{
	margin-top: 1%;
	margin-bottom: 1%;
	width: 20vh;
	height:20vh;
}

/*ask for action: many of these sooo */


  /*Beginning of Portfolio */
#Portfolio{
	background-image: url(../img/project.png);
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Portfolio h1{
	padding: 1%;
	text-align: center;
	font-size:45px;
}

#Dream .social{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;	

}


.social{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;	
	padding-top: 15px;
}

.social img, a{
	width:7vh;
	height:7vh;
}

.social a:hover {
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari 3-8 */
	transform: scale(1.2); 
  }

.project_a{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:flex-end;	
	margin-top: 1vh;
}

.project_a a{
	width:4vh;
	height:4vh;
	padding-left: 0%;
}
.project_a a:hover {
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari 3-8 */
	transform: scale(1.2); 
  }

  #myBtn9,#myBtn8,#myBtn7,#myBtn6,#myBtn5,#myBtn4,#spsBtn, #wecsBtn, #seBtn{
	width: 100%;
	border: 1px solid black;
	border-radius: 25px;
	color: white;
	
  }



#seBtn { background-color:#009e4d;
	border: 2px solid #009e4d;}



#wecsBtn { background-color:#ae115aa5;
	border: 2px solid #ae115a3e;}



#spsBtn { background-color:#c20434d3;
	border: 2px solid#c2043449;}

#ical {border: 5px solid #8e4162d3;}
#ical .item_title{background-color:#8e4162d3;}
#myBtn4 { background-color:#8e4162d3;
	border: 2px solid #c2043449;;}

#nt {border: 5px solid #c2049673;}
#nt .item_title{background-color:#c2049673; } 
#myBtn5 { background-color:#c2049673;
	border: 2px solid #c2043449;}

#hth {border: 5px solid #7c1f1fd3;}
#hth .item_title{background-color:#7c1f1fd3;} 
#myBtn6 {background-color:#7c1f1fd3;
	border: 2px solid #c2043449;}      

#mc {border: 5px solid #bf9acad3;}
#mc .item_title{background-color:#bf9acad3;}  
#myBtn7 { background-color:#bf9acad3;
	border: 2px solid#c2043449;}       
        
#math{border: 5px solid #905164d3;}
#math .item_title{background-color:#905164d3;}   
#myBtn8 { background-color:#905164d3;
	border: 2px solid #c204343d;}      

#smoosh {border: 5px solid #e08963d3;}
#smoosh .item_title{background-color:#e08963d3;}        
#myBtn9 { background-color:#e08963d3;
	border: 2px solid #c2043449;} 


.item{
  border-radius: 25px;
  width: 23vw;
  height: 60vh;
  margin-left: 2vw;
  margin-top:1vh;
}



.item1{
	background-color: rgb(8, 8, 34);
	border: 5px solid black;
	border-radius: 25px;
	width: 20%;
	padding: 10px;
	
  }
.index_item{
	background-color: rgb(8, 8, 34);
	border: 5px solid black;
	border-radius: 25px;
	width: 65%;
	padding: 10px;
	margin: 10px;
	
  }

#more,#more2, #more3 ,#more4 ,#more5, #more6, #more7, #more8 ,#more9{display: none; }
#more,#more2, #more3 ,#more4 ,#more5, #more6, #more7, #more8 ,#more9 .project_a {display: none; }


  .index_item p {
	color:white;
	background-color: #002754A5;
	text-align: center;
  }


.item p, a, h3,h4{
	text-align:left;
	color: #002754;
	margin-right: 2%;
	}


.item_title{
	color:#002754;

	flex-direction: row;
	justify-content:space-around;
	padding:5px ;
	border-bottom: 2px solid whitesmoke;
}

.title{
	font-weight: bold;
}


.middle_table{
	padding-bottom: 2%;
	border-bottom: 2px solid whitesmoke;
}

#Projects{
	background-image: url(../img/pic.png);
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Projects h1{
	padding: 1%;
	text-align: center;
	font-size:45px;
}

/* */


/*add to this after */
@media all and (max-width: 900px) {
	h3 { text-align: center }
	p{text-align: left;}


	.item{
		border-radius: 25px;
		width: 80vw;
		height: 10vh;
		margin: 0px;
	  }

	.item_title{
		color: white;
		display: flex;
		flex-direction: row;
		justify-content:space-around;
		padding:1px ;
		border-radius: 5px;
		font-size: 15px;
	}

	.middle_table li{
		margin-left: 4%;
		margin-top: 0%;
		font-size:75%;
		padding: 0%;
	}
	.middle_table{
		border-bottom: 0px;
	}
}


/*add to this after */
@media all and (max-height: 400px) {
	

	h3 { text-align: center }
	p{text-align: left;}

	.project_a{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content:flex-start;	
		margin-top: 1vh;
	}
	
	.project_a a{
		width:4vw;
		height:4vw;
		padding-left: 0%;
	}

	.item{
		border-radius: 25px;
		width: 80vw;
		height: 10vh;
		margin: 0px;
	  }

	.item_title{
		color: white;
		display: flex;
		flex-direction: row;
		justify-content:space-around;
		padding:1px ;
		border-radius: 5px;
		font-size: 15px;
	}

	.middle_table li{
		display: none;
	}
}
