

#greeting-container {
  margin-top: 1%;
  font-size: large;
}

.main_part{
  text-align: center;
}

#darker{
    color: grey;
    padding :2%;
}

 button{
  background-color: rgba(137, 43, 226, 0.43);
  padding: 1%;
  border: 1px solid rgba(137, 43, 226, 0.43);
  margin-top: 1%;
}

