

#greeting-container {
  margin-top: 1%;
  font-size: large;
}

.main_part{
  text-align: center;
}

.practice{
  margin-top: 80%;
  background-color: rosybrown;
  text-align: center;


}

input, button{
  background-color: rgba(137, 43, 226, 0.43);
  padding: 1%;
  border: 1px solid rgba(137, 43, 226, 0.43);
  margin-top: 1%;
}

