/*general rules*/
body {
	background-image: linear-gradient(to bottom right ,#005493,#c63527);
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p, h3 {
	margin-left: 5%;
}
h3, h2, h5, h1{
	color: white;
	text-align: center
}
#HOME_PAGE h1{
	border-top: 3px double #002754;
	border-bottom: 3px double #002754;
	padding: 1%;
	margin-left: 15%;
	margin-right: 15%;
	font-size:45px;
}

/*intro*/
.intro h2, p{
	color: white;
	text-align: center;
}
.intro p{
	margin-left: 20%;
	margin-right: 20%;
	text-align: left;
}
/*hero image*/
.hero-image {
	background-image: url(../img/picasso.png);
  }
.profile{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;
}
.profile img{
	margin-top: 1%;
	margin-bottom: 1%;
	width:20%;
	height:20%;
}

/*ask for action: many of these sooo */
#HOME_PAGE .social{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;	
	padding-top: 1%;
}

#HOME_PAGE .social a{
	width:100px;
	height:100px;
}

#HOME_PAGE .social a:hover {
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari 3-8 */
	transform: scale(1.2); 
  }

  /*Beginning of Projects */
#Projects{
	background-image: url(../img/project.png);
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Projects h1{
	padding: 1%;
	color:#b58649;
	text-align: center;
	font-size:45px;
}

.social{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;	
	padding-bottom: 1%;
}

.social a{
	width:100px;
	height:100px;
	padding-left: 1%;
}

.social a:hover {
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari 3-8 */
	transform: scale(1.2); 
  }

.project_a{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:flex-start;	
	margin-left: 10%;
}

.project_a a{
	width:10%;
	height:10%;
	padding-left: 0%;
}
.project_a a:hover {
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari 3-8 */
	transform: scale(1.2); 
  }

  #myBtn9,#myBtn8,#myBtn7,#myBtn6,#myBtn5,#myBtn4,#myBtn3, #myBtn2, #myBtn{
	width: 95%;
	border: 1px solid black;
	border-radius: 25px;
	color: white;
	
  }

#api{border: 5px solid #c26304d3;}
#api .item_title {background-color:#c26304d3;}
#myBtn { background-color:#c26304d3;}

#sueno {border: 5px solid #ae115aa5;}
#sueno .item_title{ background-color:#ae115aa5;}
#myBtn2 { background-color:#ae115aa5;}

#proccess {border: 5px solid #c20434d3;}
#proccess .item_title{ background-color:#c20434d3;}
#myBtn3 { background-color:#c20434d3;}

#ical {border: 5px solid #8e4162d3;}
#ical .item_title{background-color:#8e4162d3;}
#myBtn4 { background-color:#8e4162d3;}

#nt {border: 5px solid #c2049673;}
#nt .item_title{background-color:#c2049673; } 
#myBtn5 { background-color:#c2049673;}

#hth {border: 5px solid #7c1f1fd3;}
#hth .item_title{background-color:#7c1f1fd3;} 
#myBtn6 {background-color:#7c1f1fd3;}      

#mc {border: 5px solid #bf9acad3;}
#mc .item_title{background-color:#bf9acad3;}  
#myBtn7 { background-color:#bf9acad3;}       
        
#math{border: 5px solid #905164d3;}
#math .item_title{background-color:#905164d3;}   
#myBtn8 { background-color:#905164d3;}      

#smoosh {border: 5px solid #e08963d3;}
#smoosh .item_title{background-color:#e08963d3;}        
#myBtn9 { background-color:#e08963d3;} 


.item{
  background-color:	#ffffffc1;;
  color:#002754;
  border-radius: 25px;
  width: 400px;
  margin: 10px;
}

.item:hover {
	-ms-transform: scale(1.05); /* IE 9 */
	-webkit-transform: scale(1.05); /* Safari 3-8 */
	transform: scale(1.05); 
  }

.item1{
	background-color: rgb(8, 8, 34);
	border: 5px solid black;
	border-radius: 25px;
	width: 20%;
	padding: 10px;
	margin: 10px;
  }
.index_item{
	background-color: rgb(8, 8, 34);
	border: 5px solid black;
	border-radius: 25px;
	width: 65%;
	padding: 10px;
	margin: 10px;
	
  }

#more,#more2, #more3 ,#more4 ,#more5, #more6, #more7, #more8 ,#more9{display: none; }
#more,#more2, #more3 ,#more4 ,#more5, #more6, #more7, #more8 ,#more9 .project_a {display: none; }


  .index_item p {
	color:white;
	background-color: #002754A5;
	text-align: center;
  }


.item p, a, h3,h4{
	text-align:left;
	color: #002754;
	margin-right: 2%;
	}


.item_title{
	color: white;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	padding:5px ;
	border-radius: 25px;
}

.title{
	font-weight: bold;
}
.date{
	font-size:75%;
}
.description{
	font-size:75%;
}

.middle_table{
	font-size:85%;
}

#Portfolio{
	background-image: url(../img/pic.png);
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Portfolio h1{
	padding: 1%;
	color:#ffffff;
	text-align: center;
	font-size:45px;
}


<<<<<<< HEAD
/*add to this after */
@media all and (max-width: 800px) {
	h3 { text-align: center }
	p{text-align: left;}
=======
.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.image-thumbnails img:hover {
  border: thick solid black;
}

#random-image-container img {
  margin-top: 20px;
>>>>>>> d1ed7ff300e58c8eba3498fd1bf5a764a5983db2
}
